
body {
    margin: 100px;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.center {
    text-align: center;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #000;
}
